<footer id="colophon" class="site-footer" itemscope="" itemtype="http://schema.org/WPFooter">
<div class="container" style="padding: 0 5%; max-width: 90%;">
<div class="footer-t">		
<div class="row grid">
<div class="col-md-3">
<section id="custom_html-12" class="widget_text widget widget_custom_html"><h2 class="widget-title" itemprop="name">Our Business</h2><div class="textwidget custom-html-widget"><style>
#f_menu{
list-style-type:none;
}

#f_menu li a{
font-size:12px;
color: #7b7b7b;
}
</style>
<div class="row" id="f_menu">
<div class="col-md-6">
<ul>
<li><a href="coming-soon">Pexello</a></li>
<li><a href="https://www.9square.co.th/">Nine Square</a></li>
<li><a href="coming-soon">Roasto</a></li>
<li><a href="coming-soon">Cosmateline</a></li>
</ul>
</div>
<div class="col-md-6">
<ul>
<li><a href="coming-soon">Medecosma</a></li>
<li><a href="#">Medical Service</a></li>
<li><a href="https://www.univeathailand.com/">Univea</a></li>
<li><a href="coming-soon">Dermedica</a></li>
</ul>
</div>
</div></div></section>	
</div>

<div class="col-md-2">
<section id="custom_html-11" class="widget_text widget widget_custom_html"><h2 class="widget-title" itemprop="name">Harrots</h2><div class="textwidget custom-html-widget"><div id="f_menu">
<ul>
<li><a href="about-us">About us</a></li>
<li><a href="our-team">ผู้บริหาร Harrots</a></li>
<li><a href="http://localhost:8888/harrots/newsroom/">Newsroom</a></li>
<li><a href="contact-us">Contact</a></li>
</ul>
</div></div></section>	
</div>

<div class="col-md-2">
<section id="custom_html-10" class="widget_text widget widget_custom_html"><h2 class="widget-title" itemprop="name">Harrots Value</h2><div class="textwidget custom-html-widget"><div id="f_menu">
<ul>
<li><a href="coming-soon">Education</a></li>
<li><a href="coming-soon">Sustainbilty</a></li>
<li><a href="https://www.harrots.com/company-privacy-policy/">Privacy</a></li>
</ul>
</div></div></section>	
</div>

<div class="col-md-2">
<section id="custom_html-9" class="widget_text widget widget_custom_html"><h2 class="widget-title" itemprop="name">Jobs</h2><div class="textwidget custom-html-widget"><div id="f_menu">
<ul>
<li><a href="job-opportunities">Jobs Opportunities</a></li>
<li><a href="coming-soon">Careers</a></li>
</ul>
</div></div></section>	
</div>
<div class="col-md-2">
<section id="custom_html-8" class="widget_text widget widget_custom_html"><h2 class="widget-title" itemprop="name">Partnership</h2><div class="textwidget custom-html-widget"><div id="f_menu">
<ul>
<li><a href="coming-soon">BRPharn</a></li>
</ul>
</div></div></section>   
</div>
</div>		
</div>
<div class="footer-b">		
<span class="copyright">Copyright © 2019 <a href="http://localhost:8888/harrots/">บริษัท แฮรรอทส์ จํากัด (HARROTS)</a>. </span><span class="by"><a href="" rel="nofollow" target="_blank">by Pexello </a><a href="" rel="nofollow" target="_blank"> Company Privacy Policy </a></span>		
</div>
</div><!-- .container -->
</footer>