<style type="text/css">
	#primary-menu {
		font-family: 'Prompt', 'Prompt ExtraLight', sans-serif;
	}
</style>

<header id="masthead" class="site-header" itemscope="" itemtype="http://schema.org/WPHeader">
            <div class="header-t hide-header-top">
        <div class="container">
                            
            <div id="primary-toggle-button">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        
        <div class="responsive-menu-holder">
            <div class="social-networks-holder">
                <div class="container">
                                        </div>
            </div>
            <div class="container">
                <nav class="main-navigation">
                    <div class="menu-new-menu-page-container"><ul id="primary-menu" class="menu"><li id="menu-item-3782" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3782"><a href="//harrots.com/coming-soon/">Pexello</a></li>
<li id="menu-item-3783" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3783"><a target="_blank" rel="noopener noreferrer" href="https://www.9square.co.th/">Nine Square</a></li>
<li id="menu-item-3784" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3784"><a href="//harrots.com/coming-soon/">Roasto</a></li>
<li id="menu-item-3785" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3785"><a href="//harrots.com/coming-soon/">Cosmateline</a></li>
<li id="menu-item-3786" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3786"><a href="//harrots.com/coming-soon/">Medecosma</a></li>
<li id="menu-item-3787" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-3787"><a href="#">Medical Service</a>
<ul class="sub-menu">
<li id="menu-item-4038" class="agenclinic sub-bu menu-item menu-item-type-custom menu-item-object-custom menu-item-4038"><a target="_blank" rel="noopener noreferrer" href="https://www.agenclinic.com">A – GEN Clinic</a></li>
<li id="menu-item-4039" class="edenclinic sub-bu menu-item menu-item-type-custom menu-item-object-custom menu-item-4039"><a target="_blank" rel="noopener noreferrer" href="https://www.e-denclinic.com">E – DEn Clinic</a></li>
<li id="menu-item-4040" class="adentclinic sub-bu menu-item menu-item-type-custom menu-item-object-custom menu-item-4040"><a target="_blank" rel="noopener noreferrer" href="#">A – Dent Clinic</a></li>
</ul>
</li>
<li id="menu-item-3788" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3788"><a href="https://www.univeathailand.com/">Univea</a></li>
<li id="menu-item-3789" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3789"><a href="//harrots.com/coming-soon/">Dermedica</a></li>
</ul></div>                    </nav><!-- #site-navigation -->
                
                                </div>
        </div>
    </div>

    <div class="main-header">
        <div class="container">
                            <div class="site-branding " itemscope="" itemtype="http://schema.org/Organization">
                <a href="//harrots.com/" class="custom-logo-link" rel="home"><img width="150" height="150" src="//harrots.com/wp-content/uploads/2019/06/cropped-Logo-Original-01-1-e1561018012737.png" class="custom-logo" alt="บริษัท แฮรรอทส์ จํากัด (HARROTS)" srcset="//harrots.com/wp-content/uploads/2019/06/cropped-Logo-Original-01-1-e1561018012737.png 150w, //harrots.com/wp-content/uploads/2019/06/cropped-Logo-Original-01-1-e1561018012737-60x60.png 60w" sizes="(max-width: 150px) 100vw, 150px"></a><div class="text-logo">                                <h1 class="site-title" itemprop="name"><a href="//harrots.com/" rel="home" itemprop="url">บริษัท แฮรรอทส์ จํากัด (HARROTS)</a></h1>
                                                            <p class="site-description" itemprop="description">HARROTS.Co.,Ltd.</p>
                        </div><!-- .text-logo -->                </div>
            <div class="right">
                                    <nav id="site-navigation" class="main-navigation" itemscope="" itemtype="http://schema.org/SiteNavigationElement">
                <div class="menu-new-menu-page-container"><ul id="primary-menu" class="menu"><li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3782"><a href="//harrots.com/coming-soon/">Pexello</a></li>
<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3783"><a target="_blank" rel="noopener noreferrer" href="https://www.9square.co.th/">Nine Square</a></li>
<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3784"><a href="//harrots.com/coming-soon/">Roasto</a></li>
<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3785"><a href="//harrots.com/coming-soon/">Cosmateline</a></li>
<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3786"><a href="//harrots.com/coming-soon/">Medecosma</a></li>
<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-3787"><a href="#">Medical Service</a>
<ul class="sub-menu">
<li class="agenclinic sub-bu menu-item menu-item-type-custom menu-item-object-custom menu-item-4038"><a target="_blank" rel="noopener noreferrer" href="https://www.agenclinic.com">A – GEN Clinic</a></li>
<li class="edenclinic sub-bu menu-item menu-item-type-custom menu-item-object-custom menu-item-4039"><a target="_blank" rel="noopener noreferrer" href="https://www.e-denclinic.com">E – DEn Clinic</a></li>
<li class="adentclinic sub-bu menu-item menu-item-type-custom menu-item-object-custom menu-item-4040"><a target="_blank" rel="noopener noreferrer" href="#">A – Dent Clinic</a></li>
</ul>
</li>
<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3788"><a href="https://www.univeathailand.com/">Univea</a></li>
<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3789"><a href="//harrots.com/coming-soon/">Dermedica</a></li>
</ul></div>                </nav><!-- #site-navigation -->
            </div>
        </div>
    </div>
</header>